*.wav
*.csv
/.venv
/checkpoints
/__pycache__/
/hhc/*
!hhc/app/
*.DS_Store
*.code-workspace
memo
/checkpoints_cvae/
/Flutter_app/
/__pycache__/
midi_project/__pycache__/
midi_project/test/
midi_project/paper_figures/